[data-beertype="El Hefe"] {
  .overlay {
    fill: #f5ca06;
  }
}

[data-beertype="Fairy Tale Ale"] {
  .overlay {
    fill: #eb8d02;
  }
}

[data-beertype="GitHop"] {
  .overlay {
    fill: #eb8d02;
  }
}

[data-beertype="Hollaback Lager"] {
  .overlay {
    fill: #cc5408;
  }
}

[data-beertype="Hoppily Ever After"] {
  .overlay {
    fill: #eb8d02;
  }
}

[data-beertype="Mowintime"] {
  .overlay {
    fill: #cc5408;
  }
}

[data-beertype="Row 26"] {
  .overlay {
    fill: #3d1102;
  }
}

[data-beertype="Ruined Childhood"] {
  .overlay {
    fill: #bf7d02;
  }
}

[data-beertype="Sleighride"] {
  .overlay {
    fill: #bf7d02;
  }
}

[data-beertype="Steampunk"] {
  .overlay {
    fill: #d6a309;
  }
}
