@use '../base/vars'as *;
@use '../base/mixins'as *;
body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
}

header {
  display: flex;
  justify-content: space-between;

  #logo {
    width: 250px;
  }

  #cart_container {
    position: relative;
    width: 130px;
    cursor: pointer;

    p {
      font-weight: bold;
      background-color: #cc5408;
      color: white;
      padding: 10px;
      border-radius: 15px;
      position: absolute;
      bottom: 0;
      left: 10px;
      font-size: 1.2rem;
    }
  }

  #cart {
    width: 50px;
    margin-top: 10px;
    position: absolute;
    right: 0;
  }
}

main {
  display: grid;
  grid-gap: 7px;
  grid-template-columns: 1fr;
  max-width: 300px;
  margin: 0 auto;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    max-width: none;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .beer {
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    overflow: hidden;

    svg {
      width: 100%;
      position: absolute;
      bottom: 0;
      pointer-events: none;
    }

    .info-icon {
      position: absolute;
      right: 10px;
      bottom: 10px;
      fill: white;
      width: fit-content;
      pointer-events: all;
      cursor: pointer;
    }

    .infobox {
      position: absolute;
      width: 100%;
      bottom: 40px;
      padding: 15px;
      opacity: 0;
      pointer-events: none;
      transition: 0.3s all;

      h2 {
        color: white;
        margin: 0 0 5px 0;
      }

      p {
        text-align: left;
        margin: 0;
        color: white;
        text-transform: none;
      }
    }

    .quantity {
      display: flex;
      margin: 0 auto;
      width: fit-content;

      p {
        margin: auto;
      }
    }

    .add,
    .minus {
      width: 50px;
      height: 30px;
      margin: 0 10px;
      appearance: none;
      outline: none;
      border: none;
      background-color: darken($color: $background-color, $amount: 2);
      font-size: 2rem;
      cursor: pointer;
    }

    .add {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .minus {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    h3,
    h4,
    p {
      text-align: center;
    }
  }
}

.show {
  opacity: 1;
}
