@use '../base/vars'as *;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
@mixin medium {
  @media (min-width: #{$medium}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin big {
  @media (min-width: #{$big}) {
    @content;
  }
}
