@use 'vars'as *;
* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
body {
  margin: 0;
  background-color: $background-color;
}
html {
  font-size: 62.5%;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
}

.price {
  font-weight: bold;
}

p,
li,
label {
  font-size: 1.6rem;
}
